{
    "overrides": [
        {
            "files": ["all-arguments.js", "echo.js", "process.js"],
            "rules": {
                "no-console": "off"
            }
        }
    ]
}
